<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>shoppingCart</title>
<meta charset="utf-8">
<script src="lib/angular-1.5.0/angular.js"></script>
<script src="js/shoppingCart.js"></script>
</head>
<body>
<div ng-controller="cartController">
	<h1>{{head|titleCase}}</h1>
<div ng-repeat="item in items">
<span>{{item.title}}</span>
<input ng-model="item.quantity">
<span>{{item.price|currency}}</span>
<span>{{item.price*item.quantity|currency}}</span>
</div>
<div>Total:{{totalCart()|currency}}</div>
<div>Discount:{{bill.discount|currency}}</div>
<div>Subtotal:{{subtotal()|currency}}</div>
</div>

</body>
</html>